.container {
    width: 350px;
    padding: 10px;
}
.carusel {
    position: relative;
    width: 500px;
    display: table-row;
}

.btn {
    width: auto;
    display: table-cell;
    vertical-align: middle;
}
  